@tailwind base;
@tailwind components;
@tailwind utilities;


.texto-resaltado {
  -webkit-text-stroke: 2px rgb(255, 255, 255); /* Borde de 1px de grosor */
}

.text-montserrat-xl {
  font-family: 'Montserrat', sans-serif;
}

@keyframes waveAnimation {
  0% {
    transform: translateX(100vw); /* Start at the right */
  }
  100% {
    transform: translateX(0); /* Move to the left */
  }
}

.wave-element {
  position: fixed;
  height: 100%; 
  width: 2px;
  background-color: #C5C5C5; /* Set the line color */
  box-shadow: -1px 1px 8px 0px rgb(78, 77, 77);
  border-radius: 50%;
  animation: waveAnimation 10s infinite;
}